[Unit]
Description=EduBlocks Server

[Service]
ExecStart=/opt/edublocks-connect/server/start.sh
Restart=always
User=pi
Group=pi
WorkingDirectory=/opt/edublocks-connect/server

[Install]
WantedBy=multi-user.target
